In [9]:
class Choice:
    def __init__(self,n,r,subject):
        self.name=n
        self.roll=r
        self.subject=subject
    def display(self):
        print("-------Student information-------")
        print("name of student:",self.name)
        print("roll no of student:",self.roll)
        print("subject is alloted:",self.subject)
    @staticmethod
    def validate_subject(subject,x):
        if x in subject:
            print("option available")
            return True
        else:
            print("option not available")
            return False
subject=["tafl","ds","coa","dld"]
sub=input("enter the subject of your choice:").lower()
if Choice.validate_subject(subject,sub):
    name=input("enter your name:")
    roll=int(input("enter your roll no:"))
    c=Choice(name,roll,sub)
    c.display()

enter the subject of your choice: coa

option available

enter your name: nisha
enter your roll no: 235

-------Student information-------
name of student: nisha
roll no of student: 235
subject is alloted: coa

In [11]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [12]:
#ADD MAGIC Method
num=10
print(num+5)
print(num.__add__(5))

15
15

In [13]:
class int:
    def __add__(a,b)

SyntaxError: invalid syntax (3414040000.py, line 2)

In [16]:
#NEW MAGIC MEthod
class A:
    def __new__(cls):
        print("the new magic method is called")
        inst=object.__new__(cls)
        return inst
    def __init__(self):
        print("__init__magic method is called")
        self.name='python'
a=A()
print(a)

the new magic method is called
__init__magic method is called
<__main__.A object at 0x00000208C0866E40>

In [17]:
#str() method
num=12
X=str(num)
Y=init.__str__(num)
print(type(num))
print(type(X))
print(type(Y))

NameError: name 'init' is not defined

In [18]:
s='hello'
print(str(s))
print(repr(s))

hello
'hello'

In [19]:
ewimport datetime
today=datetime.datetime.now()
print(str(today))
print(repr(today))

2025-06-12 11:28:50.749426
datetime.datetime(2025, 6, 12, 11, 28, 50, 749426)

In [22]:
class Numbers:
    multiplier=10
    def __init__(self,x,y):
        self.x=x
        self.y=y
    def add(self):
        sum=self.x+self.y
        return sum
    def multiply(cls,a):
        multiply=a*cls.multiplier
        return multiply
    @staticmethod
    def subtract(b,c):
        subtract=b-c
        return subtract
    def value(self):
        return self.x, self.y
a1=Numbers(5,3)
print("sum is:",a1.add())
print("multiplication is :",a1.multiply(6))
print("subtraction is :",a1.subtract(14,5))
print("the value is ",a1.value())

sum is: 8
multiplication is : 60
subtraction is : 9
the value is  (5, 3)

In [24]:
class string:
    upper=0
    lower=0
    vowel=0
    consonant=0
    space=0
    def __init__(self,str):
        self.str=str
        
    def upper_case(self):
        for i in self.str:
            if i.uppercase:
                self.upper+=1
        return self.upper
        
    def lower_case(self):
        for i in self.str:
            if i.lowercase:
                self.lower+=1
        return self.lower
        
    def vowel(self):
        for i in self.str:
            if i.['a','e','i','o','u']:
                self.vowel+=1
        return self.vowel
        
    def consonant(self):
        for i not in self.str:
            if i.:
                upper+=1
    def __init__(self,str):
        self.str=str
    def upper_case(self):
        for i in self.str:
            if i.uppercase:
                upper+=1

SyntaxError: expected ':' (2345110759.py, line 1)

In [8]:
class Person:
    pass
print(Person.__base__)
class Teacher(Person):
    pass
print(Teacher.__base__)

<class 'object'>
<class '__main__.Person'>

In [11]:
#single inheritance
class A:
    def meth1(self):
        print('inside method 1')
    def meth2(self):
        print('inside method 2')
class B(A):
    def meth3(self):
        print('inside method 3')
ob1=B()
ob2=A()
ob1.meth1()
ob1.meth2()
ob1.meth3()
ob2.meth1()
ob2.meth2()
ob2.meth3()

inside method 1
inside method 2
inside method 3
inside method 1
inside method 2

AttributeError: 'A' object has no attribute 'meth3'

In [18]:
#attribute Accessbility
class A:
    def setdataA(self):
        self.attr1=90
        self.__attr2=100
    def check(self):
        print("inside method 1")
        print("attribute 1:",self.attr1)
        print("attribute 2:",self.__attr2)
        
class B(A):
    def setdataB(self):
        self.attr3=50
        self.__attr4=70

    def check2(self):
        print("inside method 2")
        print("attribute 3:",self.attr3)
        print("attribute 4:",self.__attr4)
        print("attribute 5:",self.attr1)
obj1=B()
obj1.setdataA()
obj1.check()
obj1.setdataB()
obj1.check2()

inside method 1
attribute 1: 90
attribute 2: 100
inside method 2
attribute 3: 50
attribute 4: 70
attribute 5: 90

In [21]:
class Circle:
    def __init__(self,radius):
        self.radius=radius
        self.ar=self.area()
        self.cir=self.circum()
    pi=3.14
    def area(self):
        area=self.pi*self.radius*self.radius
        return area
    def circum(self):
        perimeter=2*self.pi*self.radius
        return perimeter
    def display(self):
        return self.ar,self.cir
p1=Circle(2)
print(p1.display())

(12.56, 12.56)

In [29]:
class Student:
    def __init__(self,name,maths,eng,hindi):
        self.name=name
        self.maths=maths
        self.eng=eng
        self.hindi=hindi
    def avg(self):
        avg=(self.maths+self.eng+self.hindi)/3
        print(f"avg of {self.maths},{self.eng},{self.hindi} is:",avg)
obj1=Student("nisha",20,30,40)
obj1.avg()
obj2=Student("dev",40,50,60)
obj2.avg()

avg of 20,30,40 is: 30.0
avg of 40,50,60 is: 50.0

In [30]:
class greatest:
    def __init__(self,a):
        self.a=a
    def mx(self):
        mx=max(self.a)
        print("max element in list:",mx)
p1=greatest([1,7,3,8,4])
p1.mx()

max element in list: 8

In [31]:
class lowest:
    def __init__(self,a):
        self.a=a
    def mn(self):
        mn=min(self.a)
        print("min element in list:",mn)
p1=lowest([1,7,3,8,4])
p1.mn()

min element in list: 1

In [32]:
a=[2,8,9,6,4]
mn=a[0]
for i in a:
    if i>mn:
        mn=i
print("gretest in list :",mn)

gretest in list : 9

In [2]:
def greeting():
    print("welcome")
greeting()

welcome

In [5]:
def add_two_no(a,b):
    sum=a+b
    print("sum is:",sum)
add_two_no(2,5)
add_two_no(a=10,b=5)

sum is: -3
sum is: 5

In [ ]:
 def add_two_no(a,b):
    sum=a+b
    print("sum is:",sum)
add_two_no(2,5)
add_two_no(a=10,b=5)

In [13]:
#celcius to fahrenheit
def temperature(celcius):
    f=(9/5*celcius)+32
    print(f)
temperature(5)

41.0

In [14]:
class Student:
    name="nisha"
p1=Student()
p1.name

'nisha'

In [15]:
class Student:
    name="nisha"
p1=Student()
print(p1)

<__main__.Student object at 0x000001C879F76510>

In [18]:
class car:
    color="blue"
p1=car()
p1.color

'blue'

In [4]:
#superefunction
class Rectangle:
    def __init__(self,l,w):
        self.length=l
        self.width=w
    def area(self):
        return self.length*self.width
    def perimeter(self):
        return 2*self.length+2*self.width
class square(Rectangle):
    def __init__(self,length):
        super().__init__(length,length)

ob1=square(5)
print(ob1.area())

25

In [8]:
#hierarchical inheritance
class Parent:
    def meth1(self):
        print("this method is in parent class")
class Child1(Parent):
    def meth2(self):
        print("this method is in child1")
class Child2(Parent):
    def meth3(self):
        print("this method is in child2")
ob1=Child1()
ob1.meth1()
ob1.meth2()

this method is in parent class
this method is in child1

In [21]:
class Person:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def display(self):
        print(f"name is {self.name}\n age is{self.age}")
class teacher(Person):
    def __init__(self,name,age,qual,gender):
        super().__init__(name,age)
        self.qual=qual
        self.gender=gender
    def displaytd(self):
        print(f"qual is{self.qual}\n gender is {self.gender}")
class student(Person):
    def __init__(self,name,age,roll,branch):
        super().__init__(name,age)
        self.roll=roll
        self.branch=branch
    def displaysd(self):
        print(f"roll is{self.roll}\n branch is {self.branch}")
t1=teacher("nisha",19,"btech",'f')
t1.display()
t1.displaytd()
t2=student("nishu",19,23443,"cse")
t2.display()
t2.displaysd()

name is nisha
 age is19
qual isbtech
 gender is f
name is nishu
 age is19
roll is23443
 branch is cse

In [13]:
#multi level inheritance
class student:
    def set_student_details(self,roll,name):
        self.roll=roll
        self.name=name
    def display_student_details(self):
        print("roll no:",self.roll)
        print("name:",self.name)
class Marks(student):
    def setmarks(self,m1,m2,m3):
        self.m1=m1
        self.m2=m2
        self.m3=m3
    def display_marks(self):
        print("marks1:",self.m1)
        print("marks2:",self.m2)
        print("marks3:",self.m3)
class result(Marks):
    def caltotal(self):
        self.total=self.m1+self.m2+self.m3
    def display_result(self):
        print("total marks:",self.total)
re=result()
re.set_student_details(1,"kittu")
re.setmarks(20,30,40)
re.display_student_details()
re.display_marks()
re.caltotal()
re.display_result()

roll no: 1
name: kittu
marks1: 20
marks2: 30
marks3: 40
total marks: 90

In [17]:
#multiple inheritance
class student:
    def set_student_details(self,roll,name):
        self.roll=roll
        self.name=name
    def display_student_details(self):
        print("roll no:",self.roll)
        print("name:",self.name)
class Marks:
    def setmarks(self,m1,m2,m3):
        self.m1=m1
        self.m2=m2
        self.m3=m3
    def display_marks(self):
        print("marks1:",self.m1)
        print("marks2:",self.m2)
        print("marks3:",self.m3)
class result(student,Marks):
    def caltotal(self):
        self.total=self.m1+self.m2+self.m3
    def display_result(self):
        print("total marks:",self.total)
re=result()
re.set_student_details(2434354667767776,"kittu")
re.setmarks(20,30,40)
re.display_student_details()
re.display_marks()
re.caltotal()
re.display_result()

roll no: 2434354667767776
name: kittu
marks1: 20
marks2: 30
marks3: 40
total marks: 90

In [ ]:
#hybrid inheritence
class student:
    def set_student_details(self,roll,name):
        self.roll=roll
        self.name=name
    def display_student_details(self):
        print("roll no:",self.roll)
        print("name:",self.name)
class Marks:
    def setmarks(self,m1,m2,m3):
        self.m1=m1
        self.m2=m2
        self.m3=m3
    def display_marks(self):
        print("marks1:",self.m1)
        print("marks2:",self.m2)
        print("marks3:",self.m3)
class result(student,Marks):
    def caltotal(self):
        self.total=self.m1+self.m2+self.m3
    def display_result(self):
        print("total marks:",self.total)
re=result()
re.set_student_details(2434354667767776,"kittu")
re.setmarks(20,30,40)
re.display_student_details()
re.display_marks()
re.caltotal()
re.display_result()

In [ ]:
#wap that extends the class employee.derive two classes manager and team leader from employee class.display all the details
#of the employee working under a particular manager and team leader
class Employee:
    def employee_details(self,name,age):
        self.name=name
        self.age=age
    def display_ed(self):
        print("name of employee is:",self.name)
        print("age of employee is:",self.age)
        
class Manager:
     def Manager_details(self,name1,age1):
        self.name1=name1
        self.age1=age1
    def display_md(self):
        print("name of manager is:",self.name1)
        print("age of manager is:",self.age1)
        
class Team_leader:
    def Team_leader_details(self,name2,age2):
        self.name2=name2
        self.age2=age2
    def display_tld(self):
        print("name of team leadser is:",self.name2)
        print("age of employee is:",self.age2)

In [ ]:
class A:
    def learn(self):
        print("this is method 1 in class A")
class B(A):
    def learn(self):
        print("this is method 2 in class B")
class C(A):
    def learn(self):
        print("this is method 3 in class C")
class D(C,B)