In [4]:
import numpy as np
import pandas as pd
x=np.arange(10,40)
print(x)
y1=pd.DataFrame(x)
print(y1)

[10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33
 34 35 36 37 38 39]
     0
0   10
1   11
2   12
3   13
4   14
5   15
6   16
7   17
8   18
9   19
10  20
11  21
12  22
13  23
14  24
15  25
16  26
17  27
18  28
19  29
20  30
21  31
22  32
23  33
24  34
25  35
26  36
27  37
28  38
29  39

In [23]:
s1=pd.Series(['shreya','nisha','dev','mansi'],index=[1,2,3,4])
s2=pd.Series(['124','245','252','167'],index=[1,2,3,4])
s3=pd.Series([23,45,67,88],index=[1,2,3,4])
x={'Names':s1,'Roll no':s2,'Marks':s3}
y=pd.DataFrame(x)
print(y)
y['Address']=['Noida','Delhi','Newyork','usa']
print(y)

    Names Roll no  Marks
1  shreya     124     23
2   nisha     245     45
3     dev     252     67
4   mansi     167     88
    Names Roll no  Marks  Address
1  shreya     124     23    Noida
2   nisha     245     45    Delhi
3     dev     252     67  Newyork
4   mansi     167     88      usa

In [38]:
y.to_csv(r"C:\Users\akgau\Downloads\nishuu.csv")

In [39]:
y.to_csv(r"C:\Users\akgau\Downloads\nishuu.xlsx")

<font color='violet'><h2>Pandas:</h2></font>
Panel Data and Analysis

* Pandas is a python library used for working with data sets.
* It has functioning for analyzing, cleaning, exploring and manipulating data.
* It was created in 2008 by Wes Mckinney.

> <font color='yellow'><h4>What kind of data is best suited for PANDAS?</h4></font>
- Rows & columns
- Excel, .xlsxs, .csv[comma separated values],.workbook

<font color='red'><h3>Data Frames:</h3></font> Rows and Columns [2-D array]
<font color='red'><h3>Data Series:</h3></font> [1-D array]

<font color='green'><h2>Labels:</h2></font> It is the index.If nothing is passed then column elements will have normal indexing which starts from 0. It can be used to access any element of the series

In [2]:
import pandas as pd
#Create a simple pandas series from a list data structure(Ds).
a=[10,20,30,'Late','Punishment']
my_col=pd.Series(a)
print(my_col) #This wil print data series

0            10
1            20
2            30
3          Late
4    Punishment
dtype: object

In [3]:
import pandas as pd
#Create a simple pandas series from a list data structure(Ds).
a=[10,20,30,'Late','Punishment']
my_col=pd.Series(a)
print(my_col) 
print(my_col[2])

0            10
1            20
2            30
3          Late
4    Punishment
dtype: object
30

In [4]:
import pandas as pd
b=[15,20,35]
s=pd.Series(b, index=['x','y','z'])
print(s)

x    15
y    20
z    35
dtype: int64

In [5]:
#Creating series through an array
import pandas as pd
import numpy as np
arr=np.array([1,2,3,4,5,6])
a=pd.Series(arr)
print(a)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [6]:
#Creating a series through a dictionary
import pandas as pd
dict={'a':10,'b':20,'c':30}
ds1=pd.Series(dict)
print(ds1)

a    10
b    20
c    30
dtype: int64

In [7]:
import pandas as pd
dict={'a':10,'b':20,'c':30}
ds1=pd.Series(dict, index=['x','y','z'])
print(ds1) #NaN because a,b,c already  have fixed value

x   NaN
y   NaN
z   NaN
dtype: float64

In [8]:
#Creating a Series of a particular scalar value with your own index
import pandas as pd
import numpy as np
x=pd.Series(20,index=[1,2,3,4,5])
y=np.zeros((2,4))
z=np.ones((3,5))
print(x)
print(y)
print(z)

1    20
2    20
3    20
4    20
5    20
dtype: int64
[[0. 0. 0. 0.]
 [0. 0. 0. 0.]]
[[1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]]

<font color='blue'><h1>Data Frames:</h1></font> Data-sets in Pandas are usually multi-dimensionals tables, known as "DataFrames."
* Data Frame is a whole table, whereas Series is like a column.
* Data Frame is heterogeneous i.e, collection of different type of value.

In [13]:
#1.Creating a DataFrame from 3-list.
import pandas as pd
data={"Names":["Muthu","Swami","Ayyer"],"Roll No":[101,102,103],"Marks":[4,7,6]}
df=pd.DataFrame(data)
print(df)

   Names  Roll No  Marks
0  Muthu      101      4
1  Swami      102      7
2  Ayyer      103      6

In [14]:
import pandas as pd
data={"Names":["Muthu","Swami","Ayyer"],"Roll No":[101,102,103],"Marks":[4,7,6]}
print(pd.DataFrame(data, index=['a','b','c']))

   Names  Roll No  Marks
a  Muthu      101      4
b  Swami      102      7
c  Ayyer      103      6

In [15]:
#To check the location of data
import pandas as pd
data={"Names":["Muthu","Swami","Ayyer"],"Roll No":[101,102,103],"Marks":[4,7,6]}
df=pd.DataFrame(data, index=['a','b','c'])
print(df.loc['a','Names']) #Accesing values of keys by indexing

Muthu

In [16]:
#Creating DataFrames using numpy
npar=np.array([['abc','xyz','mno'],[101,102,103],[50,80,85]])
df1=pd.DataFrame(npar,columns=['ID1','ID2','ID3'], index=['Names','Roll No.','Marks'])
print(df1)

          ID1  ID2  ID3
Names     abc  xyz  mno
Roll No.  101  102  103
Marks      50   80   85

In [17]:
s1=pd.Series(['Shreya','Dev','nisha','Mansi'],index=[1,2,3,4])
s2=pd.Series(['124','245','252','167'],index=[1,2,3,4])
s3=pd.Series([23,45,67,88],index=[1,2,3,4])
x={'Names':s1,'Roll NO.':s2,'Marks':s3}
y=pd.DataFrame(x)
print(y)

    Names Roll NO.  Marks
1  Shreya      124     23
2     Dev      245     45
3   nisha      252     67
4   Mansi      167     88

In [18]:
#Inserting a new column in existing DF.
x={'Names':s1,'Roll NO.':s2,'Marks':s3}
y=pd.DataFrame(x)
y['Address']=['Noida','Delhi','NewYork','usa']
print(y)

y['pra_status']=y['Marks']>80
print(y)

    Names Roll NO.  Marks  Address
1  Shreya      124     23    Noida
2     Dev      245     45    Delhi
3   nisha      252     67  NewYork
4   Mansi      167     88      usa
    Names Roll NO.  Marks  Address  pra_status
1  Shreya      124     23    Noida       False
2     Dev      245     45    Delhi       False
3   nisha      252     67  NewYork       False
4   Mansi      167     88      usa        True

In [19]:
#Inserting a new column at a desired location in data frame.
y.insert(1,'Section',['A','B','c','D'])
#insert(location,col_name,values)
print(y)

    Names Section Roll NO.  Marks  Address  pra_status
1  Shreya       A      124     23    Noida       False
2     Dev       B      245     45    Delhi       False
3   nisha       c      252     67  NewYork       False
4   Mansi       D      167     88      usa        True

In [20]:
#Deleting any column from DF
del y['pra_status']
print(y)

    Names Section Roll NO.  Marks  Address
1  Shreya       A      124     23    Noida
2     Dev       B      245     45    Delhi
3   nisha       c      252     67  NewYork
4   Mansi       D      167     88      usa

In [21]:
a=y.pop('Section')
print(a)

1    A
2    B
3    c
4    D
Name: Section, dtype: object

In [22]:
#Make a dataframe by using arange()
x=np.arange(10,40)
print(x)
y1=pd.DataFrame(x)
print(y1)

[10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33
 34 35 36 37 38 39]
     0
0   10
1   11
2   12
3   13
4   14
5   15
6   16
7   17
8   18
9   19
10  20
11  21
12  22
13  23
14  24
15  25
16  26
17  27
18  28
19  29
20  30
21  31
22  32
23  33
24  34
25  35
26  36
27  37
28  38
29  39

In [ ]:
df.to_excel(r)

In [26]:
#reading a csv file
x=pd.read_excel(r"C:\Users\akgau\OneDrive\Documents\raghav.xlsx")
print(x)

   c   Names  Roll no  Marks  Address
0  1  shreya      124     23    Noida
1  2   nisha      245     45    Delhi
2  3     dev      252     67  Newyork
3  4   mansi      167     88      usa

In [33]:
import pandas as pd
x=pd.read_csv(r"C:\Users\akgau\Downloads\employees.csv")
print(x)

      Series_reference   Period  Data_value Suppressed STATUS    UNITS  \
0          MFGQ.SFA1CA  1992.12    2493.370        NaN      F  Dollars
1          MFGQ.SFA1CA  1993.03    3209.200        NaN      F  Dollars
2          MFGQ.SFA1CA  1993.06    2780.170        NaN      F  Dollars
3          MFGQ.SFA1CA  1993.09    1933.010        NaN      F  Dollars
4          MFGQ.SFA1CA  1993.12    2692.920        NaN      F  Dollars
...                ...      ...         ...        ...    ...      ...
30055      MFGQ.SFZ5KA  2024.03   10399.776        NaN      R  Dollars
30056      MFGQ.SFZ5KA  2024.06    8981.859        NaN      R  Dollars
30057      MFGQ.SFZ5KA  2024.09    9426.188        NaN      R  Dollars
30058      MFGQ.SFZ5KA  2024.12   10595.690        NaN      R  Dollars
30059      MFGQ.SFZ5KA  2025.03   10826.352        NaN      F  Dollars

       Magnitude                                Subject  \
0              6  Manufacturing Survey (ANZSIC06) - MFG
1              6  Manufacturing Survey (ANZSIC06) - MFG
2              6  Manufacturing Survey (ANZSIC06) - MFG
3              6  Manufacturing Survey (ANZSIC06) - MFG
4              6  Manufacturing Survey (ANZSIC06) - MFG
...          ...                                    ...
30055          6  Manufacturing Survey (ANZSIC06) - MFG
30056          6  Manufacturing Survey (ANZSIC06) - MFG
30057          6  Manufacturing Survey (ANZSIC06) - MFG
30058          6  Manufacturing Survey (ANZSIC06) - MFG
30059          6  Manufacturing Survey (ANZSIC06) - MFG

                                                   Group  \
0      Industry by variable - Subannual Financial Col...
1      Industry by variable - Subannual Financial Col...
2      Industry by variable - Subannual Financial Col...
3      Industry by variable - Subannual Financial Col...
4      Industry by variable - Subannual Financial Col...
...                                                  ...
30055  Industry by variable - Subannual Financial Col...
30056  Industry by variable - Subannual Financial Col...
30057  Industry by variable - Subannual Financial Col...
30058  Industry by variable - Subannual Financial Col...
30059  Industry by variable - Subannual Financial Col...

                             Series_title_1  \
0      Meat and dairy product manufacturing
1      Meat and dairy product manufacturing
2      Meat and dairy product manufacturing
3      Meat and dairy product manufacturing
4      Meat and dairy product manufacturing
...                                     ...
30055                     All manufacturing
30056                     All manufacturing
30057                     All manufacturing
30058                     All manufacturing
30059                     All manufacturing

                                          Series_title_2  \
0                               Sales (operating income)
1                               Sales (operating income)
2                               Sales (operating income)
3                               Sales (operating income)
4                               Sales (operating income)
...                                                  ...
30055  Stocks of finished goods, trading goods and wo...
30056  Stocks of finished goods, trading goods and wo...
30057  Stocks of finished goods, trading goods and wo...
30058  Stocks of finished goods, trading goods and wo...
30059  Stocks of finished goods, trading goods and wo...

                                   Series_title_3 Series_title_4  \
0                                  Current prices     Unadjusted
1                                  Current prices     Unadjusted
2                                  Current prices     Unadjusted
3                                  Current prices     Unadjusted
4                                  Current prices     Unadjusted
...                                           ...            ...
30055  Deflated, at September 2010 quarter prices     Unadjusted
30056  Deflated, at September 2010 quarter prices     Unadjusted
30057  Deflated, at September 2010 quarter prices     Unadjusted
30058  Deflated, at September 2010 quarter prices     Unadjusted
30059  Deflated, at September 2010 quarter prices     Unadjusted

      Series_title_5
0                NaN
1                NaN
2                NaN
3                NaN
4                NaN
...              ...
30055            NaN
30056            NaN
30057            NaN
30058            NaN
30059            NaN

[30060 rows x 14 columns]

In [34]:
print(x.Magnitude.count())

30060

In [35]:
print(x.Data_value)

0         2493.370
1         3209.200
2         2780.170
3         1933.010
4         2692.920
           ...
30055    10399.776
30056     8981.859
30057     9426.188
30058    10595.690
30059    10826.352
Name: Data_value, Length: 30060, dtype: float64

In [36]:
print(x.Data_value.max())

35749.295

In [37]:
print(x.Data_value.min())

-26.0

In [45]:

import pandas as pd
x=pd.read_csv(r"C:\Users\akgau\Downloads\result.csv")
print(x)

    ID       Start time  Completion time                  Email  \
0    1  6/18/2025 14:25  6/18/2025 14:26  0241cys090@niet.co.in
1    2  6/18/2025 14:24  6/18/2025 14:27  0241cse367@niet.co.in
2    3  6/18/2025 14:24  6/18/2025 14:28  0241cse304@niet.co.in
3    4  6/18/2025 14:24  6/18/2025 14:28  0241cse142@niet.co.in
4    5  6/18/2025 14:25  6/18/2025 14:28  0241cse268@niet.co.in
..  ..              ...              ...                    ...
87  88  6/18/2025 14:26  6/18/2025 14:33  0241cse263@niet.co.in
88  89  6/18/2025 14:31  6/18/2025 14:34  0241cse104@niet.co.in
89  90  6/18/2025 14:26  6/18/2025 14:34  0241cse024@niet.co.in
90  91  6/18/2025 14:32  6/18/2025 14:34  0241cse009@niet.co.in
91  92  6/18/2025 14:26  6/18/2025 14:34  0241cse074@niet.co.in

                    Name  Last modified time       NAME OF STUDENT  \
0   awanish kumar maurya                 NaN  AWANISH KUMAR MAURYA
1          Harshit Saini                 NaN         Harshit Saini
2         DIVYANSH GUPTA                 NaN       Divyansh Gupta
3            Rudra Verma                 NaN          Rudra Verma
4     Shivaji Bhai Patel                 NaN   Shivaji Bhai Patel
..                   ...                 ...                   ...
87         Sandesh Kumar                 NaN        Sandesh Kumar
88           ANKIT KUMAR                 NaN           ANKIT KUMAR
89    SANTOSH KUMAR SAHU                 NaN    Santosh Kumar Sahu
90       DHANANJAY SINGH                 NaN      Dhananjay Singh
91         Avneesh Kumar                 NaN        Avneesh Kumar

     ROLL NUMBER           ERP ID       OFFICIAL MAIL-ID          BRANCH  \
0   2.401330e+12  CYBER SECURITY   0241cys090@niet.co.in  Cybersecurity
1   2.401330e+12       0241cse367  0241cse367@niet.co.in             CSE
2   2.401330e+12       0241cse304  0241cse304@niet.co.in             CSE
3   2.401330e+12       0241cse142   0241cse142@gmail.com             CSE
4   2.401330e+12       0241cse268  0241cse268@niet.co.in             CSE
..           ...              ...                    ...             ...
87  2.401330e+12       0241cse263  0241cse263@niet.co.in             CSE
88  2.401330e+12       0241cse104  0241cse104@niet.co.in             CSE
89  2.401330e+12       0241CSE024  0241cse024@niet.co.in             CSE
90  2.401330e+12       0241cse009  0241cse009@niet.co.in             CSE
91  2.401330e+12       0241cse074  0241cse074@niet.co.in             CSE

   SECTION MARKS IN ENGLISH MARKS IN MATHS-1 MARKS IN BEEE/PHYSICS  \
0        A              100               90                    80
1        G               95               94                    96
2        F               97               93                    73
3        E               90               80                    85
4        B               98               70                    70
..     ...              ...              ...                   ...
87       D               80               85                    63
88       G               95               85                    82
89       A               98               81                    76
90       C               81               80                    75
91       G               90               33                    32

   MARKS IN DESIGN THINKING-1 TOTAL MARKS
0                          30         300
1                          97         382
2                          88         351
3                          75         330
4                          31         269
..                        ...         ...
87                         82         310
88                         79         400
89                         82         337
90                         75         311
91                         78         233

[92 rows x 17 columns]

In [54]:
#read the given detail file
#find max and min marks of all the subject
#apply aggregation on the different group 
#perform inner join ,outer join ,left jaoin,right join
#provide the name of the student who score more than 80 per in mathematics
#provide the name of student who score less than 75 per in physics
#add new column of cgpa and sgpa
#sgpa=total marks/10
#add new column name as grade
mx=x[['MARKS IN ENGLISH','MARKS IN MATHS-1','MARKS IN BEEE/PHYSICS','MARKS IN DESIGN THINKING-1']].max()
print(mx)

MARKS IN ENGLISH              99
MARKS IN MATHS-1              96
MARKS IN BEEE/PHYSICS         98
MARKS IN DESIGN THINKING-1    99
dtype: object

In [55]:
mn=x[['MARKS IN ENGLISH','MARKS IN MATHS-1','MARKS IN BEEE/PHYSICS','MARKS IN DESIGN THINKING-1']].min()
print(mn)

MARKS IN ENGLISH              1
MARKS IN MATHS-1              1
MARKS IN BEEE/PHYSICS         1
MARKS IN DESIGN THINKING-1    1
dtype: object

In [57]:
x.rename(columns={'OFFICIAL MAIL-ID': 'Email.ID'},inplace=True)
print(x)

    ID       Start time  Completion time                  Email  \
0    1  6/18/2025 14:25  6/18/2025 14:26  0241cys090@niet.co.in
1    2  6/18/2025 14:24  6/18/2025 14:27  0241cse367@niet.co.in
2    3  6/18/2025 14:24  6/18/2025 14:28  0241cse304@niet.co.in
3    4  6/18/2025 14:24  6/18/2025 14:28  0241cse142@niet.co.in
4    5  6/18/2025 14:25  6/18/2025 14:28  0241cse268@niet.co.in
..  ..              ...              ...                    ...
87  88  6/18/2025 14:26  6/18/2025 14:33  0241cse263@niet.co.in
88  89  6/18/2025 14:31  6/18/2025 14:34  0241cse104@niet.co.in
89  90  6/18/2025 14:26  6/18/2025 14:34  0241cse024@niet.co.in
90  91  6/18/2025 14:32  6/18/2025 14:34  0241cse009@niet.co.in
91  92  6/18/2025 14:26  6/18/2025 14:34  0241cse074@niet.co.in

                    Name  Last modified time       NAME OF STUDENT  \
0   awanish kumar maurya                 NaN  AWANISH KUMAR MAURYA
1          Harshit Saini                 NaN         Harshit Saini
2         DIVYANSH GUPTA                 NaN       Divyansh Gupta
3            Rudra Verma                 NaN          Rudra Verma
4     Shivaji Bhai Patel                 NaN   Shivaji Bhai Patel
..                   ...                 ...                   ...
87         Sandesh Kumar                 NaN        Sandesh Kumar
88           ANKIT KUMAR                 NaN           ANKIT KUMAR
89    SANTOSH KUMAR SAHU                 NaN    Santosh Kumar Sahu
90       DHANANJAY SINGH                 NaN      Dhananjay Singh
91         Avneesh Kumar                 NaN        Avneesh Kumar

     ROLL NUMBER           ERP ID               Email.ID          BRANCH  \
0   2.401330e+12  CYBER SECURITY   0241cys090@niet.co.in  Cybersecurity
1   2.401330e+12       0241cse367  0241cse367@niet.co.in             CSE
2   2.401330e+12       0241cse304  0241cse304@niet.co.in             CSE
3   2.401330e+12       0241cse142   0241cse142@gmail.com             CSE
4   2.401330e+12       0241cse268  0241cse268@niet.co.in             CSE
..           ...              ...                    ...             ...
87  2.401330e+12       0241cse263  0241cse263@niet.co.in             CSE
88  2.401330e+12       0241cse104  0241cse104@niet.co.in             CSE
89  2.401330e+12       0241CSE024  0241cse024@niet.co.in             CSE
90  2.401330e+12       0241cse009  0241cse009@niet.co.in             CSE
91  2.401330e+12       0241cse074  0241cse074@niet.co.in             CSE

   SECTION MARKS IN ENGLISH MARKS IN MATHS-1 MARKS IN BEEE/PHYSICS  \
0        A              100               90                    80
1        G               95               94                    96
2        F               97               93                    73
3        E               90               80                    85
4        B               98               70                    70
..     ...              ...              ...                   ...
87       D               80               85                    63
88       G               95               85                    82
89       A               98               81                    76
90       C               81               80                    75
91       G               90               33                    32

   MARKS IN DESIGN THINKING-1 TOTAL MARKS
0                          30         300
1                          97         382
2                          88         351
3                          75         330
4                          31         269
..                        ...         ...
87                         82         310
88                         79         400
89                         82         337
90                         75         311
91                         78         233

[92 rows x 17 columns]

In [60]:
high_scorers = x[x['MARKS IN MATHS-1'] > 80]

TypeError: '>' not supported between instances of 'str' and 'int'