In [2]:
import pandas as pd
s1=pd.Series(['shreya','nisha','dev','mansi'],index=[1,2,3,4])
s2=pd.Series(['124','245','252','167'],index=[1,2,3,4])
s3=pd.Series([23,45,67,88],index=[1,2,3,4])
x={'Names':s1,'Roll no':s2,'Marks':s3}
y=pd.DataFrame(x)
print(y)
y['Address']=['Noida','Delhi','Newyork','usa']
print(y)

    Names Roll no  Marks
1  shreya     124     23
2   nisha     245     45
3     dev     252     67
4   mansi     167     88
    Names Roll no  Marks  Address
1  shreya     124     23    Noida
2   nisha     245     45    Delhi
3     dev     252     67  Newyork
4   mansi     167     88      usa

In [5]:
y.to_excel(r"C:\Users\akgau\Downloads\nishaa.xlsx")